frontend/src/view/schemas/dynamicalContent.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="CONTENT">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BLOCK" maxOccurs="unbounded">
					<xs:complexType>
						<xs:all>
							<xs:element name="NAME" type="xs:string" />
							<xs:element name="TARGET_ID" type="xs:integer" minOccurs="0" maxOccurs="1"  />
							<xs:element name="BODY" type="xs:string" minOccurs="0" maxOccurs="1"  />
							<xs:element name="TIMESTAMP" type="xs:string" minOccurs="0" maxOccurs="1"  />
							<xs:element name="DELETE" type="xs:string" minOccurs="0" maxOccurs="1"  />
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
